.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

table {
    border-collapse:collapse;

}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.square:hover {
  background: blue;
}
.square2 {
  background: #1f2224;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.triangle-down { 
  width: 0; 
  height: 0; 
  border-left: 17px solid transparent; 
  border-right: 17px solid transparent; 
  border-top: 34px solid red; 
}
.triangle-down-off { 
  width: 0; 
  height: 0; 
  border-left: 17px solid transparent; 
  border-right: 17px solid transparent; 
  border-top: 34px solid #1f2224; 
}

#circlex { width: 34px; 
  height: 34px; 
  background: red; -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px; }

#circley { width: 34px; 
  height: 34px; 
  background: yellow; -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px; }


